<div class="flex-item row-compact row-centered">
  {% case include.pass.type %}
    {% when 'print' %}
      <a href="{{ include.pass.media_url }}" target="_blank">
        <div class="item-icon print-type">
          <div class="item-icon-bg">
            <svg><use xlink:href="#icon-newspaper"></use></svg>
          </div>
        </div>
      </a>
    {% when 'video' %}
    <a href="{{ include.pass.media_url }}" target="_blank">
      <div class="item-icon video-type">
        <div class="item-icon-bg">
          <svg><use xlink:href="#icon-video-camera"></use></svg>
        </div>
      </div>
    </a>
    {% when 'audio' %}
    <a href="{{ include.pass.media_url }}" target="_blank">
      <div class="item-icon audio-type">
        <div class="item-icon-bg">
          <svg><use xlink:href="#icon-volume-high"></use></svg>
        </div>
      </div>
    </a>
  {% endcase %}
  <div class="news-item-data">
    <h3 class="news-title"><a href="{{ include.pass.media_url }}" target="_blank">{{ include.pass.title }}</a></h3>
    <p class="news-source">{{ include.pass.source }}{% if include.pass.sub_source != null %} | <span class="sub-source">{{ include.pass.sub_source }}</span>{% endif %}</p>
    <p>{% if include.pass.date_year != null %}<!-- show date when at least year is known -->{% if include.pass.date_month != null %}<!-- show month/ or month/day/ if these exist; nested if logic should prevent poorly-formed null/day/year month/day/null etc. -->{{ include.pass.date_month }}/{% if include.pass.date_day != null %}{{ include.pass.date_day }}/{% endif %}{% endif %}<!-- endifs for date_month != null, date_day != null -->{{ include.pass.date_year }}<!-- at least show year if it exists -->{% endif %}<!-- endif for date_year != null --></p>
  </div>
</div>
