<div class="news-item">
  {% case include.pass.type %}
    {% when 'print' %}
      <div class="news-type-icon-outer print-type">
        <svg class="news-type-icon"><use xlink:href="#icon-newspaper"></use></svg>
      </div>
    {% when 'video' %}
      <div class="news-type-icon-outer video-type">
        <svg class="news-type-icon icon-video-camera"><use xlink:href="#icon-video-camera"></use></svg>
      </div>
    {% when 'audio' %}
      <div class="news-type-icon-outer audio-type">
        <svg class="news-type-icon icon-volume-medium"><use xlink:href="#icon-volume-medium"></use></svg>
      </div>
  {% endcase %}
  <div class="news-item-data">
    <h3 class="news-title"><a href="{{ include.pass.media_url }}" target="_blank">{{ include.pass.title }}</a></h3>
    <p class="news-source">{{ include.pass.source }}{% if include.pass.sub_source != null %} | <span class="sub-source">{{ include.pass.sub_source }}</span>{% endif %}</p>
    <p>{% if include.pass.date_year != null %}<!-- show date when at least year is known -->{% if include.pass.date_month != null %}<!-- show month/ or month/day/ if these exist; nested if logic should prevent poorly-formed null/day/year month/day/null etc. -->{{ include.pass.date_month }}/{% if include.pass.date_day != null %}{{ include.pass.date_day }}/{% endif %}{% endif %}<!-- endifs for date_month != null, date_day != null -->{{ include.pass.date_year }}<!-- at least show year if it exists -->{% endif %}<!-- endif for date_year != null --></p>
  </div>
</div>
