<div class="people-item">
  <img class="people-item-img" src="/chatterjee/assets/img/people/200/{{ include.pass.photo_filename }}" alt="{{ include.pass.name }}" width="200" height="200"/>
  <div class="people-item-text">
    <div class="people-item-text-header">
      <h3 class="people-item-text-name">{{ include.pass.name }}{% if include.pass.suffix %}, {{ include.pass.suffix }}{% endif %}</h3>
      <p class="people-item-text-position"><i>{{ include.pass.position }}</i></p>
      <div class="people-item-contact-links">
        {% if include.pass.email %}<a href="mailto:{{ include.pass.email }}"><svg><use xlink:href="#icon-mail"></use></svg></a>{% endif %}
        {% if include.pass.website %}<a href="{{ include.pass.website }}" target="_blank"><svg><use xlink:href="#icon-earth"></use></svg></a>{% endif %}
        {% if include.pass.twitter %}<a href="{{ include.pass.twitter }}" target="_blank"><svg><use xlink:href="#icon-twitter"></use></svg></a>{% endif %}
        {% if include.pass.instagram %}<a href="{{ include.pass.instagram }}" target="_blank"><svg><use xlink:href="#icon-instagram"></use></svg></a>{% endif %}
        {% if include.pass.flickr %}<a href="{{ include.pass.flickr }}" target="_blank"><svg><use xlink:href="#icon-flickr"></use></svg></a>{% endif %}
      </div>
    </div>
    <hr class="hr-small-media" />
    <p>{{ include.pass.bio }}</p>
  </div>
</div>
