<div class="people-item">
  <img class="people-item-img" src="/assets/img/people/200/{{ include.pass.photo_filename }}" alt="{{ include.pass.name }}" width="200" height="200"/>
  <div class="people-item-text">
    <div class="people-item-text-header">
      <h3 class="people-item-text-name">{{ include.pass.name }}</h3>
      <p class="people-item-text-suffix"><b>{{ include.pass.suffix }}</b></p>
      <p><i>{{ include.pass.position }}</i></p>
    </div>
    <p>{{ include.pass.bio }}</p>
  </div>
</div>
