---
layout: default
title: News
description: See what we're up to on Twitter and in other media.
svg: true
sections:
  - Twitter
  - Media
---
<section class="card">
  <header>
    <h2 id="{{ page.sections[0] | slugify }}" class="section-title">{{ page.sections[0] }}</h2>
  </header>
  <hr />
  {% include plugins/twitter.html %}
</section>
<section class="card">
  <header>
    <h2 id="{{ page.sections[1] | slugify }}" class="section-title">{{ page.sections[1] }}</h2>
    <ul class="list-reset lr-horizontal">
      <li><button class="button-reset link-like link-selected" type="button" name="filter-button" value="filter-target">All</button></li>
      <li><button class="button-reset link-like" type="button" name="filter-button" value="media-type-print">Print</button></li>
      <li><button class="button-reset link-like" type="button" name="filter-button" value="media-type-audio">Video</button></li>
      <li><button class="button-reset link-like" type="button" name="filter-button" value="media-type-video">Audio</button></li>
    </ul>
  </header>
  <hr />
  {% assign news_sort = site.data.news.news_list | sort: "date" | reverse %}
  {% for item in news_sort %}
    {% include components/news.html pass=item %}
  {% endfor %}
  {% comment %}{% include page_layout/data_section_groups.html data_source="news" item_type="news" cols=false %}{% endcomment %}
</section>
