---
layout: default
title: People
description: Meet our research team.
svg: true
sections:
  - Lab Director
  - Staff
  - Postdoctoral Researchers
  - Student Researchers
  - Lab Alumni
---
{% assign people_sorted = site.data.people.people_list | sort: "middle_last_name" %}
{% for section in page.sections %}
  {% unless section == "Lab Alumni" %}
    {% assign section_slug = section | slugify %}
    {% assign section_slug_underscore = section_slug | replace: "-", "_" %}
    <section class="card">
      <header>
        <h2 id="{{ section_slug }}" class="section-title">{{ section }}</h2>
      </header>
      <hr />
      {% for person in people_sorted %}
        {% unless person.status == "alum" %}
          {% if person.category == section_slug_underscore %}
            {% include components/person.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </section>
  {% endunless %}
{% endfor %}
<section class="card">
  <header>
    <h2 id="lab-alumni" class="section-title">Lab Alumni</h2>
  </header>
  <hr />
  <div class="section-group-cols">
    <div class="section-group col-group">
      <h3>Postdoctoral Researchers</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.category == "postdoctoral_researchers" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Visiting Researchers</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.category == "visiting_researchers" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Medical Students</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.student_category == "medical_students" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Graduate Students</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.student_category == "graduate_students" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Postbaccalaureate Students</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.student_category == "post_baccalaureate_students" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Undergraduate & High School Students</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.student_category == "undergraduate_students" or person.student_category == "hs_students" or person.student_category == "undergraduate_or_hs_students" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Lab Managers</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.staff_category == "lab_managers" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
    <div class="section-group col-group">
      <h3>Patient Coordinators</h3>
      {% for person in people_sorted %}
        {% unless person.status == "active" %}
          {% if person.staff_category == "patient_coordinators" %}
            {% include components/alum.html pass=person %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>
