---
layout: master
title: People
svg: true
---
<main>
  <nav id="nav-page">
    <h1 class="page-title">{{ page.title }}</h1>
    <ul>
      {% for section in site.data.people %}
        <li><a href="{{ "#" | append: section.section_id }}">{{ section.section_title }}</a></li>
      {% endfor %}
      <li><a href="#lab-alumni">Lab Alumni</a></li>
    </ul>
  </nav>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    {% include data.html pass="people" %}
    <section id="lab-alumni">
      <h2 class="section-title">Lab Alumni</h2>
      <hr />
      <div id="alumni-inner">
        {% for group in site.data.alumni %}
          <div class="alumni-group">
            <h3><i>{{ group.group_name }}</i></h3>
            {% for person in group.people %}
              <p class="alumni-person">{{ person }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</main>
