---
layout: default
title: Research
---
{% include nav-page.html data=site.data.publications %}
<div> <!-- div necessary to make flex row with nav -->
  {% for section in site.data.publications %}
    <section id="{{ section.section_id }}">
      <h2>{{ section.section_title }}</h2>
      {% for publication in section.publication_list %}
        <p class="citation">{{ publication.authors }} ({{ publication.year }}). <cite>{{ publication.title }}</cite>. <i>{{ publication.journal }}{% if publication.advance %}</i>. Advance online publication{% else %}, {{ publication.volume }}</i>{% if publication.issue %}({{ publication.issue }}){% endif %}, {{ publication.pages }}{% endif %}. doi: {{ publication.doi }} <a href="{{ publication.pdf }}">[PDF]</a>
      {% endfor %}
    </section>
  {% endfor %}
</div>
