---
layout: master
title: Research
svg: false
---
<main>
  <div id="nav-page-outer">
    <nav id="nav-page">
      <div id="nav-page-titlebar">
        <a href="{{ "/" | prepend: site.baseurl }}/"><svg><use xlink:href="#icon-home3"></use></svg></a>
        <span>/</span>
        <h1 id="page-title">{{ page.title }}</h1>
      </div>
      <ul>
        {% for section in site.data.research %}
          <li><a href="{{ "#" | append: section.section_id }}">{{ section.section_title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div id="jump-up-box">
      <a href="#top"><svg><use xlink:href="#icon-arrow-up2"></use></svg></a>
    </div>
  </div>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    {% include data.html pass="research" %}
  </div>
</main>
