---
layout: master
title: Research
svg: false
---
<main>
  <div id="nav-page">
    <nav id="nav-page-main">
      <h1>{{ page.title }}</h1>
      <ul id="nav-page-links" class="list-reset no-margin-bottom">
        {% for section in site.data.research %}
          <li><a href="{{ "#" | append: section.section_id }}">{{ section.section_title }}</a></li>
        {% endfor %}
      </ul>
      <button id="nav-page-toggle-button"><svg><use id="nav-page-toggle-svg" xlink:href="#icon-chevron-up"></use></svg></button>
    </nav>
    <div id="nav-page-jumpup">
      <a href="#top"><svg><use xlink:href="#icon-arrow-up2"></use></svg></a>
    </div>
  </div>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    {% include data.html pass="research" %}
  </div>
</main>
