<div class="people-item">
  <img class="people-item-img" src="/assets/img/people/175/{{ include.pass.photo_filename }}" alt="{{ include.pass.name }}" width="175" height="175"/>
  <div class="people-item-text">
    <div class="people-item-text-header">
      <h3 class="people-item-text-name">{{ include.pass.name }}</h3>
      <p class="people-item-text-suffix"><i><b>{{ include.pass.suffix }}</b></i></p>
      <p>{{ include.pass.position }}</p>
    </div>
    <p>{{ include.pass.bio }}</p>
  </div>
</div>
