{% for section in site.data[include.data_source] %}
  <section class="card">
    <h2 id="{{ section.section_title | slugify }}" class="section-title">{{ section.section_title }}</h2>
    {% if section.section_description %}
      <p class="section-description">{{ section.section_description }}</p>
    {% endif %}
    <hr />
    {% assign item_path = include.item_type | prepend: "item/" | append: ".html" %}
    {% for item in section.items %}
      {% include {{ item_path }} pass=item %}
    {% endfor %}
  </section>
{% endfor %}
