<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | append: " | " | append: site.title }}</title>
  <meta name="description" content="">

  <link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">

  <link rel="stylesheet" href="/chatterjee/assets/css/normalize.css">
  <link rel="stylesheet" href="/chatterjee/assets/css/main.css">
</head>
