<header>
  <div id="logo">
    <a href="http://www.med.upenn.edu" target="_blank"><img src="{{ "/assets/img/logo/psom_logo.png" | prepend: site.baseurl }}" alt="PSOM Logo" width="213" height="60" /></a>
    <span><a href="{{ "/" | prepend: site.baseurl }}">ChatLab</a></span>
  </div>
  <nav id="nav-site">
    <!-- <a id="top-nav"></a> -->
    <ul id="nav-site-links">
      <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ "/people.html" | prepend: site.baseurl }}">People</a></li>
      <li><a href="{{ "/research.html" | prepend: site.baseurl }}">Research</a></li>
      <li><a href="{{ "/news/all.html" | prepend: site.baseurl }}">News</a></li>
      <li><a href="{{ "/contact.html" | prepend: site.baseurl }}">Contact</a></li>
    </ul>
    <button id="nav-site-toggle-button">
      <!-- <svg><use href="#icon-menu"></use></svg> -->
      <svg><use id="nav-site-toggle-svg" href="#icon-close"></use></svg>
    </button>
  </nav>
</header>
