---
---

// Variables

$background: #f2f2f3; // background
$well: #ececec; // darker well
$card: #f7f7f7; // lighter card
$site-links: #c95273; // site links
$sl-hover: #b20838; // site links hover
$page-links: #6583A4;
$pl-hover: #194577;

// Resets

h1, h2, h3, h4, p, ul {
  margin: 0;
}

h1 {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

h2, h3, h4, p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  margin: 0 0 2rem 0;
  border: 0;

  // Subtle inset <hr /> inspired by Dan Eden's
  border: 0; /* Reset */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      a {
        display: block; // Fixes a very minor height error...
      }
    }
  }
}

// Main styles
* {
  box-sizing: border-box;
}

a {
  color: $page-links;
  text-decoration: none;
}

.icon {
  // display: inline-block;
  // width: 1rem;
  // height: 1rem;
  // stroke-width: 0;
  // stroke: currentColor;
  // fill: currentColor;
}

html {
  padding: 2rem 2rem 0;
  height: 100%; // So body and main can expand to 100%

  body {
    background-color: $background;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Gentium Basic', serif;

    display: flex; // Make header, main, footer as flex items
    flex-flow: column;
    height: 100%; // So body and main can expand to 100%

    header {
      flex: 0 0 auto; // As flex item (with main and footer), should not shrink

      margin-bottom: 2rem;

      div#logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 2rem;
        img {
          margin-bottom: 2rem;
        }
        span {
          font-size: 2.5rem;
          color: grey;
        }
      }

      nav#nav-site {
        ul {
          background-color: $well;
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 1.75rem;
          border: solid lightgrey 1px;
          border-radius: 4px;

          li {
            margin-bottom: 1.5rem;
            &:last-child {
              margin-bottom: 0;
            }
          }

          ul {
            padding: 0;
            border: none;
          }

          a, button {
            color: $site-links;
            font-size: 1.2rem;
          }

          button {
            border: none;
            padding: 0;
            font-family: 'Gentium Basic', serif;
            background-color: inherit;
          }
        }
      }
    }

    main {
      // As flex item (with header, footer), should grow
      flex: 1 0 auto;

      display: flex;
      flex-flow: column;

      nav#nav-page {
        background-color: $card;
        padding: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        ul {
          li {
            margin-bottom: 1rem;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      div#page-content {
        section {
          background-color: $card;
          padding: 2rem;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          h2.section-title {
            text-align: center;
          }

          p.section-description {
            font-size: 1.1rem;
          }

          img.section-image {
            max-width: 100%; // Shrink images on horizontal resize
            height: auto; // Scale height (seemingly needed for flex images)
            padding: 0.3rem;
            border: solid lightgrey 1px;
          }
        }
      }
    }

    footer {
      // As flex item (with main and footer), should not shrink
      flex: 0 0 auto;
      p {
        text-align: center;
        padding: 4rem 0 4rem;
        color: grey;
      }
    }
  }
}

// Page-specific: Research

html {
  body {
    main {
      div#page-content {
        section {
          div.research-item {
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0;
            }

            p.citation {
              // Hanging indent
              padding-left: 1rem;
              text-indent: -1rem;

              cite {
                font-style: italic; // Should be italic by default, but just in case not
              }

              cite.no-italic {
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }
}

// Page-specific: People

html {
  body {
    main {
      div#page-content {
        section {
          div.people-item {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 4rem;

            &:last-child {
              margin-bottom: 0;
            }

            img.people-item-img {
              flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
              border-radius: 100%;
              padding: 0.3rem;
              border: solid lightgrey 1px;
            }

            div.people-item-text {
              div.people-item-text-header {
                text-align: center;
                margin-bottom: 1rem;
              }

              h3.people-item-text-name {
                margin-bottom: 0;
              }

              p.people-item-text-suffix {
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

// Page-specific: News

html {
  body {
    main {
      div#page-content {
        section {
          nav#nav-news {
            display: flex;
            margin-bottom: 1rem;
            span {
              margin: 0 0.5rem 0 0;
            }
            ul {
              display: flex;
              flex-flow: row;
              li {
                margin: 0 0.5rem 0 0;
              }
            }
          }

          div.news-item {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 4rem;

            &:last-child {
              margin-bottom: 0;
            }

            svg.news-type-icon {
              // Height and width set the size of the SVG "frame" - the actual
              // image will be contained within this frame in such a way that
              // preserves aspect ratio.
              display: block; // Or else extra space around element (default is inline)
              width: 70px;
              height: 70px;
            }

            div.news-type-icon-outer {
              margin-bottom: 1rem;
              padding: 2.25rem;
              border-radius: 100%;

              &.print-type {
                background-color: rgba(50, 50, 50, .2);
                // border: solid rgba(50, 50, 50, 1) 4px;
                svg.news-type-icon {
                  fill: rgba(50, 50, 50, 1);
                }
              }

              &.video-type {
                background-color: rgba(179, 8, 56, .15);
                // border: solid rgba(179, 8, 56, 1) 4px;
                svg.news-type-icon {
                  fill: rgba(179, 8, 56, 1);
                }
              }

              &.audio-type {
                background-color: rgba(0, 51, 102, .25);
                // border: solid rgba(0, 51, 102, 1) 4px;
                svg.news-type-icon {
                  fill: rgba(0, 51, 102, 1);
                }
              }
            }


            div.news-item-data {
              max-width: 20rem;
              text-align: center;

              h3.news-title {
                margin-bottom: 0.3rem;
              }

              p.news-source {
                span.sub-source {
                  color: grey;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Page specific: Index

html {
  body {
    main {
      div#page-content {
        section {
          div#twitter-div {
            height: 300px;
            overflow-y: scroll;
          }

          div#about-anjan {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0;
            }

            img#about-anjan-img {
              flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
              padding: 0.3rem;
              border: solid lightgrey 1px;
            }

            div#about-anjan-text {
              div#about-anjan-text-header {
                text-align: center;
                margin-bottom: 1rem;
              }

              h3#about-anjan-text-name {
                margin-bottom: 0;
              }

              p#about-anjan-text-suffix {
                margin-bottom: 0.5rem;
              }
            }
          }

          div.book-item {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 2rem;

            &:last-child {
              margin-bottom: 0;
            }

            img.book-item-image {
              flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
              margin-bottom: 0;
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 45rem) {
  a:hover {
    color: $pl-hover;
  }

  html {
    padding: 4rem 4rem 0;

    body {
      header {
        div#logo {
          flex-flow: row;
          margin-bottom: 2rem;
          img {
            margin-bottom: 0;
            padding-right: 2.5rem;
            border-right: solid 2px lightgrey;
          }
          span {
            padding-left: 2.5rem;
          }
        }

        nav#nav-site {
          ul {
            flex-flow: row wrap;
            padding: 1.5rem 1.75rem;

            li {
              margin: 0 1.75rem 0 0;

              &:last-child {
                margin: 0;
              }
            }

            a {
              &:hover {
                color: $sl-hover;
              }
            }
          }
        }
      }

      main {
        flex-flow: row;
        align-items: flex-start;
        justify-content: flex-end;

        nav#nav-page {
          flex: 0 0 16rem;
          text-align: left;
          margin-bottom: 0;
          margin-right: 2rem;
        }

        div#page-content {
          // flex: 1 1 auto; // allows flex item to grow to fill remaining width of body / main [initial default is 0 1 auto, corresponding to grow, shrink, basis]
          flex: 0 1 calc(100% - 18rem); // Calc is not well supported... perhaps implement in js?
          // overflow: hidden; // by default, flex items have min-width (and min-height) as auto, meaning will not shrink smaller than size of contents. override with mid-width: 0 or even more elegantly, overflow: hidden (any value of overflow except visible makes min-width: 0 and content will disappear at small sizes as needed)
          min-width: 0; // overflow: hidden screws up shadows
          section {
            h2.section-title {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 60rem) {

  // These "desktop" styles look too squished at the 40rem breakpoint

  // Page-specific: People

  html {
    body {
      main {
        div#page-content {
          section {
            div.people-item {
              flex-flow: row;
              align-items: flex-start;

              img.people-item-img {
                margin-right: 2rem;
                margin-bottom: 0;
              }

              div.people-item-text {
                div.people-item-text-header {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  // Page-specific: News

  html {
    body {
      main {
        div#page-content {
          section {
            div.news-item {
              flex-flow: row;
              margin-bottom: 2rem;

              &:last-child {
                margin-bottom: 0;
              }

              div.news-type-icon-outer {
                margin-bottom: 0;
                margin-right: 2rem;
              }

              svg.news-type-icon {
              }

              div.news-item-data {
                max-width: 100%;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  // Page specific: Index

  html {
    body {
      main {
        div#page-content {
          section {
            div#about-anjan {
              flex-flow: row;
              align-items: flex-start;

              img#about-anjan-img {
                margin-right: 2rem;
                margin-bottom: 0;
              }

              div#about-anjan-text {
                div#about-anjan-text-header {
                  text-align: left;
                  margin-bottom: 1rem;
                }

                h3#about-anjan-text-name {
                  margin-bottom: 0;
                }

                p#about-anjan-text-suffix {
                  margin-bottom: 0.5rem;
                }
              }
            }

            div.book-item {
              flex-flow: row;
              align-items: flex-start;
            }
          }
        }
      }
    }
  }
}

// Styles for JS

.scrolled {
  position: static; // Default value
}

.hidden {
  display: none;
}

@media screen and (min-width: 45rem) {
  #nav-site-toggle-button {
    display: none;
  }

  .scrolled {
    position: fixed;
    width: 16rem;
    top: 2rem;
    left: 4rem; // Calc is not well supported... perhaps implement in js?
  }

  .hidden {
    display: list-item; // Default value
  }
}

@media screen and (min-width: 68rem) {
  .scrolled {
    left: calc((100% - 60rem) / 2); // Calc is not well supported... perhaps implement in js?
  }
}
