---
---

/* Variables */

$background: #f2f2f3; /* background */
$well: #ececec; /* darker well */
$card: #f7f7f7; /* lighter card */
$site-links: #c95273; /* site links */
$sl-hover: #b20838; /* site links hover */
$page-links: #6583A4;
$pl-hover: #194577;

/* Resets */

h1, h2, h3, p, ul {
  margin: 0;
}

hr {
  // margin: 1rem 0 2rem;
  margin: 0 0 2rem 0;
  border: 0;

  /* Subtle inset <hr /> inspired by Dan Eden's */
  border: 0; /* Reset */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

/* Main styles */
* {
  box-sizing: border-box;
}

a {
  color: $page-links;
  text-decoration: none;
}

.icon {
  // display: inline-block;
  // width: 1rem;
  // height: 1rem;
  // stroke-width: 0;
  // stroke: currentColor;
  // fill: currentColor;
}

html {
  padding: 2rem;

  body {
    background-color: $background;
    max-width: 60rem;
    margin: 0 auto;
    font-family: 'Gentium Basic', serif;

    header {
      margin-bottom: 2rem;

      div#logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 2rem;
        img {
          margin-bottom: 2rem;
        }
        span {
          font-size: 2.5rem;
          color: grey;
        }
      }

      nav#nav-site {
        ul {
          background-color: $well;
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 1rem;
          border: solid lightgrey 1px;
          border-radius: 4px;
          li {
            padding: 0.75rem;
            a {
              color: $site-links;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    main {
      display: flex;
      flex-flow: column;

      nav#nav-page {
        background-color: $card;
        padding: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        h1 {
          padding: 0.5rem;
        }
        ul {
          li {
            padding: 0.5rem;
          }
        }
      }

      div#page-content {
        section {
          background-color: $card;
          padding: 2rem;
          box-shadow: 0 1px 3px rgba(0,0,0,0.1);
          margin-bottom: 2rem;

          h2.section-title {
            text-align: center;
            margin-bottom: 1rem;
          }

          p.section-description {
            font-size: 1.1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

/* Page-specific: Research */

html {
  body {
    main {
      div#page-content {
        section {
          div.research-item {
            margin-bottom: 2rem;

            &:last-of-type {
              margin-bottom: 0;
            }

            p.citation {
              /* Hanging indent */
              padding-left: 1rem;
              text-indent: -1rem;

              cite {
                font-style: italic; /* Should be italic by default, but just in case not */
              }

              cite.no-italic {
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }
}


/* Page-specific: People */

html {
  body {
    main {
      div#page-content {
        section {
          div.people-item {
            display: flex;
            flex-flow: column;
            margin-bottom: 4rem;

            /* Center headshot and people-item-text elements */
            align-items: center;

            &:last-of-type {
              margin-bottom: 0;
            }


            img.people-item-img {
              border-radius: 100%;
              margin-bottom: 1rem;

              /* Bugfix: After click-navigating to section, then refresh, images shrink */
              flex: 0 0 175px;
            }

            div.people-item-text {
              div.people-item-text-header {
                text-align: center;
                margin-bottom: 1rem;
              }

              p.people-item-text-suffix {
                margin-bottom: 0.5rem;
              }
            }

          }
        }
      }
    }
  }
}

/* Page-specific: News */

html {
  body {
    main {
      div#page-content {
        section {
          nav#nav-news {
            display: flex;
            margin-bottom: 1rem;
            p {
              margin: 0.5rem 0.5rem 0.5rem 0;
            }
            ul {
              display: flex;
              flex-flow: row;
              justify-content: center;
              li {
                margin: 0.5rem 0.5rem 0.5rem 0;
              }
            }
          }

          div.news-item {
            display: flex;
            flex-flow: row;
            margin-bottom: 2rem;

            svg.news-type-icon {
              flex: 0 0 100px; // Instead of width, would probably be OK to use specify flex-basis via flex shorthand
              // width: 64px;
              height: 100px;
              margin-right: 2rem;
            }

            p.news-source {
              margin-bottom: 1rem;
            }

            span.sub-source {
              color: grey;
            }

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 40rem) {
  a:hover {
    color: $pl-hover;
  }

  html {
    padding: 4rem;

    body {
      header {
        div#logo {
          flex-flow: row;
          margin-bottom: 2rem;
          img {
            margin-bottom: 0;
            padding-right: 2.5rem;
            border-right: solid 2px lightgrey;
          }
          span {
            padding-left: 2.5rem;
          }
        }

        nav#nav-site {
          ul {
            flex-flow: row wrap;
            padding: 1.5rem 0 0 1.75rem;
            li {
              padding: 0;
              margin: 0 1.75rem 1.5rem 0;
              a {
                padding: 0;
                &:hover {
                  color: $sl-hover;
                }
              }
            }
          }
        }
      }

      main {
        flex-flow: row;
        align-items: flex-start;

        nav#nav-page {
          flex: 0 0 16rem;
          text-align: left;
          margin-bottom: 0;
          margin-right: 2rem;
        }

        div#page-content {
          flex: auto; /* Confirm this is the best way to do this (i.e., grow div to fill remaining space) */
          section {
            h2.section-title {
              text-align: left;
            }
          }
        }
      }
    }
  }

  /* Page-specific: News */

  html {
    body {
      main {
        div#page-content {
          section {
            nav#nav-news {
              ul {
                display: flex;
                flex-flow: row;
                justify-content: flex-start;
                li {
                  margin: 0.5rem 0.5rem 0.5rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 60rem) {

  /* These "desktop" styles look too squished at the 40rem breakpoint */

  /* Page-specific: People */

  html {
    body {
      main {
        div#page-content {
          section {
            div.people-item {
              flex-flow: row;
              align-items: flex-start;

              img.people-item-img {
                margin-right: 2rem;
                margin-bottom: 0;
              }

              div.people-item-text {
                div.people-item-text-header {
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
