// Colors ----------------------------------------------------------------------

$background: #f2f2f3; // background
$well: #ececec; // darker well
$button: #e8e8e8; // even (slighly) darker button
$card: #f7f7f7; // lighter card
$card-transp: rgba(247, 247, 247, 0.7); // transparent card
$borders: lightgrey; // site-nav, images, icons, etc.
$shadows: rgba(0, 0, 0, 0.1); // shadows
$site-links: #c95273; // site links
$sl-hover: #b20838; // site links hover
$page-links: #6583A4;
$page-links-transp: rgba(101, 131, 164, 0.7);
$pl-hover: #194577;
$pl-hover-transp: rgba(25, 29, 119, 0.7);

// news icons
$print-bg: rgb(198, 239, 231);
$video-bg: rgb(239, 198, 213);
$audio-bg: rgb(239, 236, 198);
$news-icon: rgba(0, 51, 102, 1);
