// Utility classes

.fancy-sticky {
  position: static;
}

// Hanging indent (e.g., for citations)
.hanging-indent {
  padding-left: 0.75rem;
  text-indent: -0.75rem;
}

// To override default italics, for example in a <cite> or <address>
.font-style-normal {
  font-style: normal !important;
}

// Round only this element (element should be block or inline-block)
.rounded {
  border-radius: 9999px;
}

// Round this element and all children
.rounded-descending {
  border-radius: 9999px;

  * {
    border-radius: 9999px;

    &.rounded-skip {
      border-radius: 0; // for use with rounded-descending
    }
  }

  a {
    display: block; // otherwise won't be rounded (default inline)
  }
}

// Text centered at default, left at medium breakpoint
.text-center-md-left {
  text-align: center;
}

// Reset formatting (e.g., for horizontal lists) ... rename: horizontal list?
.list-reset {
  // include flex?
  padding-left: 0;

  li {
    list-style: none;

    a {
      display: block; // Fixes a very minor height error (?) LEAVE THIS IN FOR NOW FIX LATER
    }
  }
}
