.no-padding-bottom {
  padding-bottom: 0 !important;
}

.dotted-border {
  border: 1px dotted red;
}

.positioned {
  position: relative;
  z-index: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.button-frame {
  padding: 0.25rem 0.5rem;
  border: solid $page-links 1px;
  color: $page-links;

  &:hover {
    background-color: hsl(211, 26%, 96%); // i.e., page-links with more luminence
    color: $page-links; // override $pl-hover default
  }
}

.no-display, .no-display-only-mobile {
  display: none !important;
}

// Hanging indent (e.g., for citations)
.hanging-indent {
  padding-left: 0.75rem;
  text-indent: -0.75rem;
}

// To override default italics, for example in a <cite> or <address>
.font-style-normal {
  font-style: normal !important;
}

// Round only this element (element should be block or inline-block)
.rounded {
  border-radius: 9999px;
}

// Round this element and all children
.rounded-descending {
  border-radius: 9999px;

  * {
    border-radius: 9999px;

    &.rounded-skip {
      border-radius: 0; // for use with rounded-descending
    }
  }

  a {
    display: block; // otherwise won't be rounded (default inline)
  }
}

// Reset formatting (e.g., for horizontal lists) ... rename: horizontal list?
.list-reset {
  // include flex?
  padding-left: 0;

  li {
    list-style: none;

    a {
      display: block; // Fixes a very minor height error (?) LEAVE THIS IN FOR NOW FIX LATER
    }
  }
}

.button-reset {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  background-color: inherit;
  padding: 0;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

button.hover-pointer {
  // move to reset?
  color: $page-links;

  &:hover {
    color: $pl-hover;
  }
}
