{% comment %} Entire item needs class so js can target / hide {% endcomment %}
<div class="flex-item fi-med-compact fi-med-center filter-target {% case include.pass.media_type %}{% when 'print' %}media-type-print{% when 'audio' %}media-type-audio{% when 'video' %}media-type-video{% endcase %}">
  <header class="rounded-descending">
    <a href="{{ include.pass.media_url }}" target="_blank">
      <div class="item-icon">
        <svg class="rounded-skip">
          <use xlink:href="{% case include.pass.media_type %}{% when 'print' %}#icon-newspaper{% when 'audio' %}#icon-video-camera{% when 'video' %}#icon-volume-high{% endcase %}"></use>
        </svg>
      </div>
    </a>
  </header>
  <div class="fi-main fi-main-def-sm-compact">
    <header>
      <h3><a href="{{ include.pass.media_url }}" target="_blank">{{ include.pass.title }}</a></h3>
      <p class="margin-bottom-compact font-large">{{ include.pass.source }}{% if include.pass.sub_source != "" %} | <span class="sub-source">{{ include.pass.sub_source }}</span>{% endif %}</p>
      <p class="font-large">{{ include.pass.date | date: "%B %e, %Y" }}</p>
    </header>
  </div>
</div>
