---
layout: master
---
{% assign include_path_item = page.path | prepend: "item/" %}
{% assign data_filename = page.path | remove: ".html" %}
<main>
  <nav id="nav-page">
    <h1 class="page-title">{{ page.title }}</h1>
    <ul>
      {% for section in site.data[data_filename] %}
        <li><a href="{{ "#" | append: section.section_id }}">{{ section.section_title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    {{ content }}
    {% for section in site.data[data_filename] %}
      <section id="{{ section.section_id }}">
        <h2 class="section-title">{{ section.section_title }}</h2>
        {% if section.section_description %}
          <p class="section-description">{{ section.section_description }}</p>
        {% endif %}
        <hr />
        {% for item in section.item_list %}
          {% include {{ include_path_item }} pass=item %}
        {% endfor %}
      </section>
    {% endfor %}
  </div>
</main>
