---
layout: master
---
<main>
  <div id="nav-page-outer">
    <nav id="nav-page">
      <div id="nav-page-titlebar">
        <a href="index.html"><svg><use xlink:href="#icon-home3"></use></svg></a>
        <span>/</span>
        <h1 id="page-title">{{ page.title }}</h1>
      </div>
    </nav>
    <div id="jump-up-box">
      <a href="#top"><svg><use xlink:href="#icon-arrow-up2"></use></svg></a>
    </div>
  </div>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    {{ content }}
  </div>
</main>
