<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- SVGs from IcoMoon.io -->
      <defs>
        <!-- defs for header -->
        {% include svg/header.html %}

        <!-- page-specific defs -->
        {% if page.svg %}
          {% assign svg_path = page.path | remove: "_pages" | prepend: "svg/" %}
          {% include {{ svg_path }} %}
        {% endif %}
      </defs>
    </svg>
    {% include header.html %}
    <main>
      {% include nav_page.html %}
      <div id="page-content">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
