<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- SVGs from IcoMoon.io -->
      <defs>
        <!-- defs for header -->
        {% include svg/header.html %}

        <!-- page-specific defs -->
        {% if page.svg %}
          {% assign include_path_svg = page.path | prepend: "svg/" %}
          {% include {{ include_path_svg }} %}
        {% endif %}
      </defs>
    </svg>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
