---
layout: master
---
<main>
  <div id="nav-page">
    <nav id="nav-page-main">
      <h1>{{ page.title }}</h1>
    </nav>
    <div id="nav-page-jumpup">
      <a href="#top"><svg><use xlink:href="#icon-arrow-up2"></use></svg></a>
    </div>
  </div>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    <section>
      <nav id="nav-news">
        <!-- Perhaps filter with js, eventually -->
        <ul>
          <li><a href="{{ "/news/all.html" | prepend: site.baseurl }}">All</a></li>
          <li><a href="{{ "/news/print.html" | prepend: site.baseurl }}">Print</a></li>
          <li><a href="{{ "/news/video.html" | prepend: site.baseurl }}">Video</a></li>
          <li><a href="{{ "/news/audio.html" | prepend: site.baseurl }}">Audio</a></li>
        </ul>
      </nav>
      <hr />
      {% for item in site.data.news %}
        {% if page.data_type contains item.type %}
          {% include item/news.html pass=item %}
        {% endif %}
      {% endfor %}
    </section>
  </div>
</main>
