---
layout: master
---
<main>
  <nav id="nav-page">
    {% include nav-page-titlebar.html %}
    <a href=""><svg><use xlink:href="#icon-arrow-up2"></use></svg></a>
  </nav>
  <div id="page-content"><!-- div necessary to make flex row with nav -->
    <section>
      <nav id="nav-news">
        <span>Filter:</span>
        <ul>
          <li><a href="/news/all.html">All</a></li>
          <li><a href="/news/print.html">Print</a></li>
          <li><a href="/news/video.html">Video</a></li>
          <li><a href="/news/audio.html">Audio</a></li>
        </ul>
      </nav>
      <hr />
      {% for item in site.data.news %}
        {% if page.data_type contains item.type %}
          {% include item/news.html pass=item %}
        {% endif %}
      {% endfor %}
    </section>
  </div>
</main>
