---
layout: default
---
<section class="page-section card">
  <nav id="nav-news">
    <!-- Perhaps filter with js, eventually -->
    <ul class="list-reset no-margin-bottom">
      <li><a href="{{ "/news/all.html" | prepend: site.baseurl }}">All</a></li>
      <li><a href="{{ "/news/print.html" | prepend: site.baseurl }}">Print</a></li>
      <li><a href="{{ "/news/video.html" | prepend: site.baseurl }}">Video</a></li>
      <li><a href="{{ "/news/audio.html" | prepend: site.baseurl }}">Audio</a></li>
    </ul>
  </nav>
  <hr />
  {% for item in site.data.news %}
    {% if page.target_media_type contains item.media_type %}
      {% include item/news.html pass=item %}
    {% endif %}
  {% endfor %}
</section>
