<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- SVGs from IcoMoon.io -->
      <defs>
        <!-- defs for header -->
        {% include svg/header.html %}

        <!-- page-specific defs -->
        {% include svg/news.html %}
      </defs>
    </svg>
    <h1>Styleguide</h1>
    <hr />
    {{ content }}
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
