// Page-specific: People

.people-item-text-header {
  text-align: left;
}

.people-item-contact-links {
  justify-content: flex-start;
}

#alumni-cols {
  columns: 3;
}

// Page-specific: News

.news-item-data {
  max-width: 100%;
  text-align: left;
}

// Page specific: Index

#about-anjan-text-header {
  text-align: left;
}

.book-item-header {
  text-align: left;
}

// Page specific: Contact

.contact-main {
  h3 {
    text-align: left;
  }
}
