// Page-specific: People

.people-item-text-header {
  text-align: center;
  margin-bottom: 1.25rem;

  > :last-child { // same as `& > *:last-child` scss ampersand and wildcard both implied
    margin-bottom: 0;
  }
}

.people-item-text-name {
  margin-bottom: 0.1rem;
}

.people-item-text-position {
  font-size: 1.1rem;
}

.people-item-text-cv {
  margin-bottom: 1.25rem; // to match header bottom, centering contact-links
}

.people-item-contact-links {
  // Could consider using display: flex or float to control extra spaces
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; // space before CV

  > * { // same as `& > *` scss ampersand is implied
    margin-right: 0.5rem;

    &.buttony-link {
      margin-right: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    // does making display: block help, as elsewhere?
    // display: block;
  }

  svg {
    display: block; // Or else extra space around element (default is inline)
    width: 1rem;
    height: 1rem;
    fill: rgb(127, 127, 127);
    &:hover {
      fill: black; // Individual colors for different social?
    }
  }
}

.buttony-link {
  display: inline-block; // fixes minor gaps also maybe makes sense in context of added padding
  padding: 0.25rem 0.5rem;
  border: solid $page-links 1px;
  border-radius: 9999px;
  color: $page-links;
  font-size: 0.75rem;

  &:hover {
    background-color: hsl(211, 26%, 96%); // i.e., page-links with more luminence
    color: $page-links; // override $pl-hover default
  }
}

// Page-specific: News

#nav-news {
  margin-bottom: 1rem;
  ul {
    display: flex;
    li {
      margin: 0 0.5rem 0 0;
    }
  }
}

.news-item-data {
  max-width: 20rem;
  text-align: center;
}

.news-title {
  margin-bottom: 0.3rem;
}

.sub-source {
  color: grey;
}

// Page specific: Index

#about-anjan-text-header {
  text-align: center;
  margin-bottom: 1rem;
}

.book-item-header {
  text-align: center;
  margin-bottom: 1rem;
}

.book-item-pub {
  margin-bottom: 0.5rem;
}

// Page specific: Contact

.contact-main {
  width: 100%;

  h3 {
    text-align: center;
  }
}

address {
  background-color: white;
  font-size: 0.8rem;
  font-style: normal;
  padding: 0.8rem 1.25rem;
  margin-bottom: 1rem;
  border-left: solid $page-links 4px;
  box-shadow: 0 1px 3px $shadows; // shadows already transp

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    padding-left: 0.5rem;
    text-indent: -0.5rem;
  }
}

#map {
  padding: 5px;
  border: solid $borders 1px;
}
