// ITEMS

.people-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.news-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.book-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// CONSOLIDATED

.flex-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}


// Page-specific: People


.people-item-img {
  flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
  border-radius: 100%;
  padding: 5px;
  border: solid $borders 1px;
}

.people-item-text-header {
  text-align: center;
  margin-bottom: 1.25rem;

  > :last-child { // same as `& > *:last-child` scss ampersand and wildcard both implied
    margin-bottom: 0;
  }
}

.people-item-text-name {
  margin-bottom: 0.1rem;
}

.people-item-text-position {
  font-size: 1.1rem;
}

.people-item-text-cv {
  margin-bottom: 1.25rem; // to match header bottom, centering contact-links
}

.people-item-contact-links {
  // Could consider using display: flex or float to control extra spaces
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; // space before CV

  > * { // same as `& > *` scss ampersand is implied
    margin-right: 0.5rem;

    &.buttony-link {
      margin-right: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    // does making display: block help, as elsewhere?
    // display: block;
  }

  svg {
    display: block; // Or else extra space around element (default is inline)
    width: 1rem;
    height: 1rem;
    fill: rgb(127, 127, 127);
    &:hover {
      fill: black; // Individual colors for different social?
    }
  }
}

.buttony-link {
  display: inline-block; // fixes minor gaps also maybe makes sense in context of added padding
  padding: 0.25rem 0.5rem;
  border: solid $page-links 1px;
  border-radius: 9999px;
  color: $page-links;
  font-size: 0.75rem;

  &:hover {
    background-color: hsl(211, 26%, 96%); // i.e., page-links with more luminence
    color: $page-links; // override $pl-hover default
  }
}

#alumni-cols {
  columns: 1;
  column-gap: 2rem;
  font-size: 0.9rem;
}

.alumni-group {
  text-align: center;
  break-inside: avoid;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.alumni-group-name {
  margin-bottom: 0.5rem;
}

.alumni-person {
  margin-bottom: 0;
}

// Page-specific: News

#nav-news {
  margin-bottom: 1rem;
  ul {
    display: flex;
    li {
      margin: 0 0.5rem 0 0;
    }
  }
}


.news-type-icon {
  // Height and width set the size of the SVG "frame" - the actual
  // image will be contained within this frame in such a way that
  // preserves aspect ratio.
  display: block; // Or else extra space around element (default is inline)
  width: 70px;
  height: 70px;
}

.news-type-icon-border {
  padding: 5px;
  border-radius: 100%;
  margin-bottom: 1rem;

  &.print-type {
    // border: solid rgba(50, 50, 50, .2) 1px;
    border: solid rgb(198, 239, 231) 1px;
    .news-type-icon-outer {
      // background-color: rgba(50, 50, 50, .2);
      background-color: rgb(198, 239, 231);
      .news-type-icon {
        // fill: rgba(50, 50, 50, 1);
        fill: rgba(0, 51, 102, 1);
      }
    }
  }

  &.video-type {
    // border: solid rgba(179, 8, 56, .15) 1px;
    border: solid rgb(239, 198, 213) 1px;
    .news-type-icon-outer {
      // background-color: rgba(179, 8, 56, .15);
      background-color: rgb(239, 198, 213);
      .news-type-icon {
        // fill: rgba(179, 8, 56, 1);
        fill: rgba(0, 51, 102, 1);
      }
    }
  }

  &.audio-type {
    // border: solid rgba(0, 51, 102, .25) 1px;
    border: solid rgb(239, 236, 198) 1px;
    .news-type-icon-outer {
      // background-color: rgba(0, 51, 102, .25);
      background-color: rgb(239, 236, 198);
      .news-type-icon {
        fill: rgba(0, 51, 102, 1);
      }
    }
  }
}

.news-type-icon-outer {
  padding: 59px;
  border-radius: 100%;
}

.news-item-data {
  max-width: 20rem;
  text-align: center;
}

.news-title {
  margin-bottom: 0.3rem;
}

.sub-source {
  color: grey;
}

// Page specific: Index

#about-anjan {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

#about-anjan-img {
  flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
  padding: 5px;
  border: solid $borders 1px;
}

#about-anjan-text-header {
  text-align: center;
  margin-bottom: 1rem;
}


.book-item-image {
  flex: 0 0 auto; // Possibly preventing bug: occasionally, flex item image shrinks on load
  border: solid $borders 1px;
  padding: 5px;
  margin-bottom: 1rem; // Usually not necessary to explicitly declare margin-bottom on img (I have this in reset), but need to override :last-child causing margin-bottom: 0 (technically :last-child because inside <a>)
}

.book-item-header {
  text-align: center;
  margin-bottom: 1rem;
}

.book-item-pub {
  margin-bottom: 0.5rem;
}

// Page specific: Contact


.contact-icon-border {
  padding: 5px;
  border-radius: 100%;
  margin-bottom: 1rem;
  border: solid rgba(50, 50, 50, .09) 1px;
}

.contact-icon-outer {
  padding: 59px;
  border-radius: 100%;
  background-color: rgba(50, 50, 50, .09);
}

.contact-icon {
  display: block; // Or else extra space around element (default is inline)
  width: 70px;
  height: 70px;
  fill: silver;
}

.contact-main {
  width: 100%;

  h3 {
    text-align: center;
  }
}

address {
  background-color: white;
  font-size: 0.8rem;
  font-style: normal;
  padding: 0.8rem 1.25rem;
  margin-bottom: 1rem;
  border-left: solid $page-links 4px;
  box-shadow: 0 1px 3px $shadows; // shadows already transp

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
    padding-left: 0.5rem;
    text-indent: -0.5rem;
  }
}

#map {
  padding: 5px;
  border: solid $borders 1px;
}
