// Styles for medium screens ---------------------------------------------------

@media screen and (min-width: 60rem) {

  // These "desktop" styles look too squished at the 40rem breakpoint

  .hr-small-media {
    display: none;
  }

  .flex-item {
    flex-flow: row;
    align-items: flex-start; // default: top-align

    &.row-centered {
      align-items: center; // optional: (re-)center-align with this class
    }

    &.row-compact {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .item-img {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  // Page-specific: People

  .people-item-text-header {
    text-align: left;
  }

  .people-item-contact-links {
    justify-content: flex-start;
  }

  #alumni-cols {
    columns: 3;
  }

  // Page-specific: News

  .news-item-data {
    max-width: 100%;
    text-align: left;
  }

  // Page specific: Index

  #about-anjan-text-header {
    text-align: left;
  }

  .book-item-header {
    text-align: left;
  }

  // Page specific: Contact

  .contact-main {
    h3 {
      text-align: left;
    }
  }
}
