// Resets ----------------------------------------------------------------------

// No margin-top, margin-bottom 1rem unless :last-child

h1, h2, h3, h4, p, ul {
  margin: 0;
}

h1, h2, h3, h4, p, img {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// Utility class for breaking margin-bottom rules
.no-margin-bottom {
  margin-bottom: 0;
}

h4 {
  font-size: 1.17rem; // approx equal to h3 ... check this (otherwise h4 font size not usually explicitly defined, i.e., 1rem)
}

.rounded {
  border-radius: 9999px;
}
