// Resets ----------------------------------------------------------------------

// Universal resets ------------------------------------------------------------

* {
  box-sizing: border-box;
}

// Element resets: vertical rhythm ---------------------------------------------

h1 {font-size: 2.000em;}
h2 {font-size: 1.500em;}
h3 {font-size: 1.333em;}
h4 {font-size: 1.167em;} // default 1em

// Margin rules: no margin-top, margin-bottom 1rem unless :last-child

// Clear default margins on elements that have them
h1, h2, h3, h4, p, ul {
  margin: 0;
}

h1, h2, h3, h4, p, ul, address {
  // Add back margin-bottom on elements wherever desired
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

// Utility class for breaking margin rules
.no-margin-bottom {
  margin-bottom: 0 !important; // !important so don't need to worry about specificity
}

// Element resets: other text elements -----------------------------------------

a {
  color: $page-links;
  text-decoration: none;
}

hr {
  margin: 0 0 2rem 0; // 2rem margin-bottom (larger than margin-bottom 1rem for preceeding headers, paragraphs)
  border: 0;

  // Subtle inset <hr /> inspired by Dan Eden's
  border: 0; /* Reset */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

cite {
  font-style: italic; // Should be italic by default, but just in case not
}

address {
  p {
    // each line of address should go in <p> for pretty styling
    margin-bottom: 0;

    // mini hanging indent (helpful when wrapping at small width)
    padding-left: 0.5rem;
    text-indent: -0.5rem;
  }
}

// Element resets: images ------------------------------------------------------

img {
  max-width: 100%;
  height: auto;

  &.no-shrink {
    max-width: none !important;
  }
}

img, svg {
  display: block; // default leaves gap (e.g., in picture elements, in flex-item headers)
}
